<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /department-repository/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /department-repository/index.html [L]
</IfModule>
